In [37]:
import pandas as pd
import numpy as np

np.random.seed(88)
df = pd.DataFrame({'A' : np.linspace(1, 10, 10)})
print(df)
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns = list('BCDE'))], axis = 1)
df.iloc[3, 3], df.iloc[0, 2] = np.nan, np.nan
df

      A
0   1.0
1   2.0
2   3.0
3   4.0
4   5.0
5   6.0
6   7.0
7   8.0
8   9.0
9  10.0

      A         B         C         D         E
0   1.0  0.106884       NaN  0.956563  0.068411
1   2.0  1.068514  0.997183 -0.931548  0.730430
2   3.0 -0.171214 -1.288691  1.061436 -0.040501
3   4.0 -0.903721 -1.554133       NaN  0.200526
4   5.0 -0.747329  1.068081 -0.277024  0.086557
5   6.0 -0.253221 -1.212041  0.277273  0.552219
6   7.0 -0.467743 -1.427493  0.885805  2.360634
7   8.0 -1.522006 -0.215945  0.190327  0.722256
8   9.0 -0.870716  0.101749  0.555358  0.962261
9  10.0  1.433499 -0.701818 -0.856952 -0.858158

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [39]:
df.style.highlight_max(color = 'green').highlight_min(color = 'pink')

In [41]:
df.style.set_properties(**{'border' : '1.3px solid green', 'color' : 'magenta'})

In [70]:
def plus(x, y):
  return x + y
def minus(x, y):
  return x - y
def multiply(x, y):
  return x * y
def divide(x, y):
  return x / y
def default_op(x, y):
  return None

func_dict = {
    'add' : plus,
    'sub' : minus,
    'mul' : multiply,
    'div' : divide
}

def dispatch_dict(operater, x, y):
  return func_dict.get(operater, default_op)(x, y)

print(dispatch_dict('add', 1, 2), dispatch_dict('sub', 1, 2), dispatch_dict('mul', 1, 2), dispatch_dict('div', 1, 2))
print(dispatch_dict('a', 3, 6))

3 -1 2 0.5
None

In [86]:
np.random.seed(88)
df = pd.DataFrame(np.random.randint(1, 10, [4, 5]), columns=list('ABCDE'))
df.iloc[1]['A']
df.iloc[1, 2]
df['A'].sum()

20