In [290]:
import pandas as pd
import numpy as np

In [291]:
df = pd.read_csv('C:\\Workspace\\python\\Data_Science\\dataA\\spam.csv', encoding='ISO-8859-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [292]:
df = df[['v1','v2']]
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [293]:
df.columns = ['category', 'content']
df['category'] = df['category'].replace(['ham', 'spam'], [0, 1]) # 0은 일반메일, 1은 스팸메일
df.head()

   category                                            content
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [294]:
df.info

<bound method DataFrame.info of       category                                            content
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0              Will Ì_ b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]>

In [295]:
df.isnull().sum() # null 값 확인

category    0
content     0
dtype: int64

In [296]:
df.content.nunique(), df.category.nunique() # 5572개의 데이터에서 5169개의 데이터로 변경(중복값 존재)

(5169, 2)

In [297]:
df.drop_duplicates(subset = ['content'], inplace = True) # 중복값 제거

In [298]:
len(df)
import re
df['content'] = df.content.apply(lambda x: re.sub('[^A-Za-z ]', '', str(x)))
df['content'] = df.content.apply(lambda x: x.lower())

In [299]:
X_data = df.content
y_data = df.category
print(f'메일 본문 수 : {len(X_data)} // 레이블의 개수 : {len(y_data)}')

메일 본문 수 : 5169 // 레이블의 개수 : 5169

In [300]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_data, y_data, test_size = 0.2, 
    stratify = y_data,random_state = 2021
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((4135,), (1034,), (4135,), (1034,))

In [301]:
from sklearn.feature_extraction.text import TfidfVectorizer
tvect = TfidfVectorizer(stop_words = 'english')
tvect.fit(X_train) # 학습

TfidfVectorizer(stop_words='english')

In [302]:
X_train = tvect.transform(X_train)
X_test = tvect.transform(X_test)
print(X_train.shape, X_test.shape)

(4135, 7147) (1034, 7147)

In [303]:
# 훈련 / 예측 / 평가
# Support Vector Machine의 Classifier 사용
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)

SVC()

In [304]:
pred = svc.predict(X_test)
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [305]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.9748549323017408