In [80]:
# 데이터프레임의 데이터 조작
import numpy as np
import pandas as pd
# 데이터 갯수 세기
s = pd.Series(range(10))
s[3] = np.nan
s
s.count()
df = pd.DataFrame(np.arange(16).reshape(4, 4), dtype = float)
df.iloc[2, 3] = np.nan
df
df.count() # 열 기준으로 데이터가 입력되어 있는 개수를 보여줌
import seaborn as sns
titanic = sns.load_dataset('titanic') # 타이타닉 침몰사고 승객명단을 불러오는 또다른 방법
titanic.head()
titanic.count()
# titanic.info()
titanic.describe()
# 카테고리 값 세기
titanic.sex.value_counts() # 데이터프레임 이름.열이름.value_counts() : 해당 데이터 프레임의 열이름을 기준으로 작성되어 있는 범주의 개수를 확인
# 데이터프레임 통으로는 셀수 없음 / series 단위로 나누어서 셈 가능
# 정렬 : sort_index() / sort_values()
np.random.seed(2021)
s2 = pd.Series(np.random.randint(10, size = 10))
s2.value_counts().sort_values(), s2.value_counts().sort_values(ascending = False)
titanic.sort_values(by = 'fare', ascending = False).head()
titanic.sort_values(by = ['fare', 'age'], ascending = False) # 첫번째 기준으로 정렬 후 두번째 기준으로 추가정렬
# 행, 열 합계
np.random.seed(2021)
df2 = pd.DataFrame(np.random.randint(10, size =(4, 8)))
# print(df2)
df2.sum() # 기존 axis 값은 0으로 열 기준의 합계가 보여짐
df2['RowSum'] = df2.sum(axis = 1)
# print(df2)
df2.loc['ColSum', :] = df2.sum()
# print(df2)
# 승객의 평균 나이
titanic.age.mean()
# 여성 승객의 평균나이
titanic[titanic.sex == 'female'].age.mean()
# 1등실, 여성승객의 평균 나이
np.round(titanic[titanic.pclass == 1][titanic.sex == 'female'].age.mean(), 1)
# apply 변환
df3 = pd.DataFrame({
    'A': [1, 3, 4, 3, 4],
    'B': [2, 3, 1, 2, 3],
    'C': [1, 5, 2, 4, 4]
})
df3.loc['max-min', :] = df3.apply(lambda x: x.max() - x.min())
df3
titanic['성년여부'] = titanic.apply(lambda r: 'adult' if r.age >= 20 else 'child', axis = 1)
titanic['category1'] = titanic.apply(lambda r: r.sex if r.age >= 20 else 'child', axis = 1)
titanic
titanic.category1.value_counts()

<ipython-input-80-064f203f0366>:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  np.round(titanic[titanic.pclass == 1][titanic.sex == 'female'].age.mean(), 1)

male      364
child     341
female    186
Name: category1, dtype: int64