In [45]:
# Pandas Series
import pandas as pd
import numpy as np
# 시리즈 생성(시리즈 = 값 + 인덱스)
s = pd.Series([9904312, 3448737, 2890451, 2466052],
               index = ['서울', '부산', '인천', '대구'], dtype = np.int32)
s.values # 시리즈의 값 - Numpy 배열
s.name = '인구'
s.index.name = '도시'
# s = s / 10000
s[1], s['부산'], s[[0, 3, 1]] # fancy indexing
s[1:3] # slicing
s['부산':'대구'] # 문자로 슬라이싱을 하면 숫자와 달리 마지막 항도 포함
s[(2500000 < s) & (s < 4000000)] # s[2500000 < s < 4000000]은 사용불가
s[(s < 2500000) | (s > 4e6)]
s.부산
# 시리즈와 딕셔너리
s2 = pd.Series({'서울' : 9631482, '부산' : 33933191, '인천' : 2632035, '대전' : 1490158})
s2, '서울' in s # 딕셔너리를 이용하여 dataframe을 만들 수는 있지만 주로 사용하지는 않음
# 인덱스 기반 연산
s - s2 # 각각의 시리즈의 변수들 중에 중복되는 변수들만 연산
s['부산'] = 1.63 # 데이터의 갱신
s
s['대전'] = 11111 # 데이터 추가
s
del s['대전'] # 데이터 삭제
s

도시
서울    9904312
부산          1
인천    2890451
대구    2466052
Name: 인구, dtype: int64