In [1]:
# oracle cloud 접속
import json
with open('C:\\Workspace\\python\\Data_Science\\dataA\\mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)

import pymysql
conn = pymysql.connect(
 host = config['host'],
 user = config['user'],
 password = config['password'],
 database = config['database'],
 port = config['port']
)
cur = conn.cursor()

In [2]:
# products table 작성
sql_create_table = '''
    CREATE TABLE if NOT exists products(
        pid INT PRIMARY KEY AUTO_INCREMENT,
        pname VARCHAR(40) NOT NULL,
        pprice INT UNSIGNED NOT NULL,
        pcategory VARCHAR(20) NOT NULL,
        pcost INT UNSIGNED NOT NULL
    ) AUTO_INCREMENT=1;
'''
cur.execute(sql_create_table)

0

In [3]:
# 데이터 추가
sql_insert = '''
             INSERT INTO products(pname, pprice, pcategory, pcost) VALUES
                ('LG Gram 14 SnowWhite', '1749000', '노트북', '425000'),
                ('LG Gram 14 Black', '1519450', '노트북', '373000'), 
                ('LG Gram 15 SnowWhite', '2188420', '노트북', '750000'), 
                ('LG Gram 15 DarkSliver', '1889000', '노트북', '525000'),
                ('LG Gram 16 Blue', '2066900', '노트북', '532500'), 
                ('LG Gram 16 Black', '2149000', '노트북', '550000'),  
                ('Ultra PC 15.6', '799000', '노트북', '200000'),
                ('Ultra PC 13', '1228920', '노트북', '352500'),
                ('Ultra Gear 17 ', '1567880', '노트북', '385000'),
                ('Ultra Gear 15.6', '1999000', '노트북', '570000'),
                ('UHD LED AI ThinQ 163cm 스탠드형', '1310460', 'TV', '425000'),
                ('UHD LED AI ThinQ 163cm 벽걸이형', '1710460', 'TV', '475000'),
                ('4K UHD LED 163cm 스탠드형', '1410460', 'TV', '495000'),
                ('4K UHD LED 163cm 벽걸이형', '1861000', 'TV', '525000'),
                ('HD LED 80cm 스탠드형', '324000', 'TV', '85000'),
                ('HD LED 80cm 벽걸이형', '500460', 'TV', '125000'),
                ('Ultra HD OLED 163cm 스탠드형', '2446510', 'TV', '625000'),
                ('Ultra HD OLED 163cm 벽걸이형', '2856420', 'TV', '705000'),
                ('Ultra UHD LED 189cm 스탠드형', '3200000', 'TV', '825000'),
                ('Ultra UHD LED 189cm 벽걸이형', '3750000', 'TV', '905000'),
                ('LG DIOS 양문형 821L', '1524000', '냉장고', '405000'),
                ('LG 세미빌트인 636L', '1254550', '냉장고', '375000'),
                ('LG DIOS 상냉장 하냉동 870L', '1684000', '냉장고', '425000'),
                ('LG 일반 냉장고 480L', '695000', '냉장고', '305000'),
                ('LG 일반 냉장고 189L', '379000', '냉장고', '105000'),
                ('LG 오브제컬렉션 1등급', '3990000', '냉장고', '905000'),
                ('LG 오브제컬렉션 조합형 얼음정수기 냉장고', '5900000', '냉장고', '1505000'),
                ('LG 4도어 냉장고 870L', '2079000', '냉장고', '705000'),
                ('LG 일반형 냉장고 오피스텔모델 235L', '597000', '냉장고', '155000'),
                ('LG DIOS 매직스페이스 양문형 866L', '2200000', '냉장고', '605000');
'''
cur.execute(sql_insert)
conn.commit()

In [4]:
# sales table 작성
sql_create_table2 = '''
    CREATE TABLE if NOT EXISTS sales(
        sid INT PRIMARY KEY AUTO_INCREMENT,
        sdate DATE NOT NULL,
        scompany VARCHAR(20) NOT NULL,
        spid INT NOT NULL,
        sunit INT NOT NULL,
        FOREIGN KEY(spid) REFERENCES products(pid)
    ) AUTO_INCREMENT=101;
'''
cur.execute(sql_create_table2)

0

In [5]:
import random
calendar = {1:31,2:29,3:31,4:30,5:31,6:30,7:31,8:31,9:30,10:31,11:30,12:31}
date_list =[]
for i in range(1, 13):
    for k in range(20):
        date = f'2020-{i}-{random.randint(1,29)}'
        date_list.append(date)
print(len(date_list))

240

In [6]:
company_list = ['쿠팡', '하이마트', '롯데백화점', '신세계백화점', '11번가', '다나와', 'G마켓']
scompany_list = []
for i in range(len(date_list)):
    scompany = random.choice(company_list)
    scompany_list.append(scompany)
len(scompany_list)

240

In [7]:
unit_list = []
for i in range(len(date_list)):
    unit = random.randint(1, 100)
    unit_list.append(unit)
len(unit_list)

240

In [8]:
spid_list = []
for i in range(len(date_list)):
    spid = random.randint(1, 30)
    spid_list.append(spid)
len(spid_list)

240

In [9]:
insert_values = []
for i in range(len(date_list)):
    insert_value = []
    insert_value.append(date_list[i])
    insert_value.append(scompany_list[i])
    insert_value.append(spid_list[i])
    insert_value.append(unit_list[i])
    insert_values.append(insert_value)
len(insert_values)
sdate, scompany, spid, sunit = insert_values[30]
sdate
sql_insert2 = 'INSERT INTO sales(sdate, scompany, spid, sunit) VALUES' + f'(\'{sdate}\', \'{scompany}\', \'{spid}\', \'{sunit}\');'
sql_insert2

"INSERT INTO sales(sdate, scompany, spid, sunit) VALUES('2020-2-12', '롯데백화점', '15', '12');"

In [10]:
for i in range(len(insert_values)):
    sdate, scompany, spid, sunit = insert_values[i]
    sql_insert2 = 'INSERT INTO sales(sdate, scompany, spid, sunit) VALUES' + f'(\'{sdate}\', \'{scompany}\', \'{spid}\', \'{sunit}\');'
    cur.execute(sql_insert2)
    conn.commit()

In [11]:
sql_join = """
            CREATE VIEW sales_book as
                SELECT sid, sdate, scompany, pid, pname, pcategory, pprice, sunit, pcost,
                    pprice*sunit AS revenue, (pprice-pcost)*sunit AS profit
                FROM sales
                Join products
                On sales.spid = products.pid
                ORDER BY sdate;
"""
cur = conn.cursor()
cur.execute(sql_join)

0

In [12]:
sql = 'select * from sales_book'
cur.execute(sql)
results = cur.fetchall()

In [22]:
import pandas as pd
df = pd.DataFrame(results)
df.head()
del df[0]
del df[3]
df.columns = ['판매일자', '판매처', '상품명', '카테고리', '단가', '수량', '원가', '매출액', '이익']
df.head()
df.to_csv('sales_book.csv', index = False)

In [23]:
cur.close()
conn.close()