In [81]:
import numpy as np
import pandas as pd

In [82]:
pop = pd.read_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\CCTV\\report.txt', sep = '\s+')
pop.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021.2/4,합계,"4,405,638","9,795,426","4,756,178","5,039,248","9,565,990","4,649,442","4,916,548","229,436","106,736","122,700",2.17,"1,576,971"
3,2021.2/4,종로구,"73,525","155,106","75,009","80,097","146,029","70,985","75,044","9,077","4,024","5,053",1.99,"27,605"
4,2021.2/4,중구,"62,897","132,259","64,526","67,733","123,016","60,019","62,997","9,243","4,507","4,736",1.96,"23,980"

In [83]:
pop.columns = ['기간', '자치구', '세대', '합계', '합계(남자)', '합계(여자)', '한국인', '한국인(남자)', '한국인(여자)', '등록외국인', '등록외국인(남자)', \
               '등록외국인(여자)', '세대당인구', '65세이상고령자']
pop.head()

,기간,자치구,세대,합계,합계(남자),합계(여자),한국인,한국인(남자),한국인(여자),등록외국인,등록외국인(남자),등록외국인(여자),세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021.2/4,합계,"4,405,638","9,795,426","4,756,178","5,039,248","9,565,990","4,649,442","4,916,548","229,436","106,736","122,700",2.17,"1,576,971"
3,2021.2/4,종로구,"73,525","155,106","75,009","80,097","146,029","70,985","75,044","9,077","4,024","5,053",1.99,"27,605"
4,2021.2/4,중구,"62,897","132,259","64,526","67,733","123,016","60,019","62,997","9,243","4,507","4,736",1.96,"23,980"

In [84]:
pop.drop([0, 1], inplace = True)

In [85]:
pop.reset_index(inplace = True)
del pop['index']
pop.head()

,기간,자치구,세대,합계,합계(남자),합계(여자),한국인,한국인(남자),한국인(여자),등록외국인,등록외국인(남자),등록외국인(여자),세대당인구,65세이상고령자
0,2021.2/4,합계,"4,405,638","9,795,426","4,756,178","5,039,248","9,565,990","4,649,442","4,916,548","229,436","106,736","122,700",2.17,"1,576,971"
1,2021.2/4,종로구,"73,525","155,106","75,009","80,097","146,029","70,985","75,044","9,077","4,024","5,053",1.99,"27,605"
2,2021.2/4,중구,"62,897","132,259","64,526","67,733","123,016","60,019","62,997","9,243","4,507","4,736",1.96,"23,980"
3,2021.2/4,용산구,"111,650","240,665","116,858","123,807","226,378","108,948","117,430","14,287","7,910","6,377",2.03,"38,884"
4,2021.2/4,성동구,"134,542","295,767","143,927","151,840","289,162","141,042","148,120","6,605","2,885","3,720",2.15,"45,591"

In [86]:
pop.columns

Index(['기간', '자치구', '세대', '합계', '합계(남자)', '합계(여자)', '한국인', '한국인(남자)',
       '한국인(여자)', '등록외국인', '등록외국인(남자)', '등록외국인(여자)', '세대당인구', '65세이상고령자'],
      dtype='object')

In [87]:
import re
for col_name in pop.columns:
    pop[col_name] = pop[col_name].apply(lambda x: re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣0-9./]', '', x))
    if col_name != '기간' and col_name != '자치구' and col_name != '세대당인구':
        pop[col_name] =  pop[col_name].astype(float)
        pop[col_name] =  pop[col_name].astype(int)
    elif col_name == '세대당인구':
        pop[col_name] =  pop[col_name].astype(float)
pop.head()

,기간,자치구,세대,합계,합계(남자),합계(여자),한국인,한국인(남자),한국인(여자),등록외국인,등록외국인(남자),등록외국인(여자),세대당인구,65세이상고령자
0,2021.2/4,합계,4405638,9795426,4756178,5039248,9565990,4649442,4916548,229436,106736,122700,2.17,1576971
1,2021.2/4,종로구,73525,155106,75009,80097,146029,70985,75044,9077,4024,5053,1.99,27605
2,2021.2/4,중구,62897,132259,64526,67733,123016,60019,62997,9243,4507,4736,1.96,23980
3,2021.2/4,용산구,111650,240665,116858,123807,226378,108948,117430,14287,7910,6377,2.03,38884
4,2021.2/4,성동구,134542,295767,143927,151840,289162,141042,148120,6605,2885,3720,2.15,45591

In [88]:
pop.head()

,기간,자치구,세대,합계,합계(남자),합계(여자),한국인,한국인(남자),한국인(여자),등록외국인,등록외국인(남자),등록외국인(여자),세대당인구,65세이상고령자
0,2021.2/4,합계,4405638,9795426,4756178,5039248,9565990,4649442,4916548,229436,106736,122700,2.17,1576971
1,2021.2/4,종로구,73525,155106,75009,80097,146029,70985,75044,9077,4024,5053,1.99,27605
2,2021.2/4,중구,62897,132259,64526,67733,123016,60019,62997,9243,4507,4736,1.96,23980
3,2021.2/4,용산구,111650,240665,116858,123807,226378,108948,117430,14287,7910,6377,2.03,38884
4,2021.2/4,성동구,134542,295767,143927,151840,289162,141042,148120,6605,2885,3720,2.15,45591

In [89]:
del pop['기간']
pop.to_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\CCTV\\서울시인구(전처리).csv', index = False)

In [90]:
cctv = pd.read_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\CCTV\\서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', encoding = 'cp949')
cctv.columns = ['자치구', '총계', '2012년 이전', '2012년', '2013년', '2014년', '2015년', '2016년', '2017년', '2018년', '2019년', '2020년', '2021년']
cctv = cctv.drop([0])
cctv.reset_index(inplace = True)
del cctv['index']
cctv.head()

,자치구,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [91]:
import re
for col_name in cctv.columns:
    cctv[col_name] = cctv[col_name].apply(lambda x: re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣0-9./]', '', x))
    if col_name != '자치구':
        cctv[col_name] =  cctv[col_name].astype(float)
        cctv[col_name] =  cctv[col_name].astype(int)
del cctv['2012년 이전']
cctv

,자치구,총계,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,0,0,210,150,1,261,85,9,200,43
2,중구,2333,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,125,212,105,339,310,874,390,262,461,76
5,광진구,2588,57,100,187,98,52,675,465,712,175,32
6,동대문구,2497,146,60,29,111,233,136,197,209,223,63
7,중랑구,3296,24,253,88,141,161,162,173,1049,939,4
8,성북구,3958,78,170,230,323,594,460,867,714,251,188
9,강북구,2462,0,24,65,105,243,6,392,1000,588,39
10,도봉구,1629,22,96,181,79,159,134,222,198,168,331
11,노원구,2415,97,193,77,516,331,175,216,320,386,104
12,은평구,3791,3,44,332,329,555,403,635,1057,288,131
13,서대문구,2940,253,155,108,137,223,356,237,343,397,1
14,마포구,2421,93,77,61,162,454,359,343,494,300,20
15,양천구,3312,167,181,143,180,350,139,140,274,325,0
16,강서구,2560,129,106,213,188,168,506,259,457,356,123
17,구로구,4075,216,349,187,268,326,540,488,434,415,0
18,금천구,2374,0,178,80,361,133,196,540,369,508,9
19,영등포구,3778,136,238,123,209,248,311,658,65,1213,5
20,동작구,2297,24,25,503,128,253,271,300,322,419,11
21,관악구,4942,205,291,513,529,621,687,663,640,331,34
22,서초구,3704,75,94,71,563,516,1060,428,358,420,3
23,강남구,6502,77,75,597,840,1310,999,748,789,942,1
24,송파구,2854,61,86,85,215,148,241,542,1068,235,101
25,강동구,2547,27,163,49,154,202,273,377,356,614,0

In [92]:
del cctv['2021년']
cctv.to_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\CCTV\\서울시CCTV(전처리).csv', index = False)