In [1]:
import numpy as np
import pandas as pd

In [2]:
starbucks = pd.read_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\소상공인시장진흥공단_상가(상권)정보_20210630\\결과\\스타벅스.csv', encoding = 'UTF-8')
coffeebean = pd.read_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\소상공인시장진흥공단_상가(상권)정보_20210630\\결과\\커피빈.csv', encoding = 'UTF-8')
ediya = pd.read_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\소상공인시장진흥공단_상가(상권)정보_20210630\\결과\\이디야.csv', encoding = 'UTF-8')
paik = pd.read_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\소상공인시장진흥공단_상가(상권)정보_20210630\\결과\\빽다방.csv', encoding = 'UTF-8')

In [4]:
starbucks.시군구명.unique()

array(['강릉시', '고성군', '춘천시', '속초시', '원주시', '평창군', '태백시', '인제군', '동해시',
       '홍천군', '횡성군', '성남시 분당구', '용인시 기흥구', '화성시', '수원시 팔달구', '고양시 일산동구',
       '김포시', '수원시', '파주시', '이천시', '광명시', '부천시', '안산시', '고양시 일산서구',
       '수원시 영통구', '안산시 상록구', '군포시', '포천시', '평택시', '의정부시', '고양시 덕양구',
       '남양주시', '용인시 처인구', '하남시', '동두천시', '과천시', '시흥시', '광주시', '의왕시',
       '안성시', '오산시', '양주시', '안양시 동안구', '양평군', '용인시 수지구', '수원시 장안구',
       '안양시 만안구', '수원시 권선구', '성남시 중원구', '성남시 수정구', '여주시', '안산시 단원구',
       '용인시', '구리시', '가평군', '진주시', '거제시', '김해시', '창원시 마산합포구', '창원시 성산구',
       '양산시', '창원시 의창구', '산청군', '사천시', '밀양시', '창원시 진해구', '창원시 마산회원구',
       '하동군', '창녕군', '함양군', '통영시', '구미시', '포항시 북구', '포항시 남구', '김천시',
       '영양군', '청도군', '고령군', '안동시', '경주시', '경산시', '영덕군', '문경시', '청송군',
       '서구', '동구', '광산구', '북구', '남구', '수성구', '달서구', '중구', '달성군', '유성구',
       '대덕구', '연제구', '사하구', '부산진구', '동래구', '해운대구', '사상구', '금정구', '강서구',
       '기장군', '수영구', '영도구', '종로구', '서초구', '영등포구', '강남구', '강북구', '중랑구',
       '마포구', '은평구', '구로구', '성북구', '용산구', '관악구', '동작구', '서대문구', '강동구',
       '광진구', '양천구', '송파구', '노원구', '성동구', '동대문구', '금천구', '도봉구', '세종특별자치시',
       '울주군', '부평구', '연수구', '미추홀구', '남동구', '계양구', '옹진군', '강화군', '여수시',
       '순천시', '목포시', '광양시', '나주시', '무안군', '전주시 완산구', '군산시', '전주시 덕진구',
       '익산시', '임실군', '부안군', '고창군', '서귀포시', '제주시', '천안시 서북구', '천안시 동남구',
       '공주시', '보령시', '당진시', '아산시', '서산시', '서천군', '논산시', '예산군', '청양군',
       '계룡시', '청주시 서원구', '청주시 흥덕구', '청주시 청원구', '청주시 상당구', '충주시', '증평군',
       '음성군', '보은군', '제천시'], dtype=object)

In [14]:
starbucks[starbucks.시도명.str.contains('울산')].시군구명.unique()

array(['남구', '북구', '동구', '울주군', '중구'], dtype=object)

In [15]:
tmp_gu_dict = {
    '수원': ['장안구', '권선구', '팔달구', '영통구'], 
    '성남': ['수정구', '중원구', '분당구'], 
    '안양': ['만안구', '동안구'], 
    '안산': ['상록구', '단원구'], 
    '고양': ['덕양구', '일산동구', '일산서구'], 
    '용인': ['처인구', '기흥구', '수지구'], 
    '청주': ['상당구', '서원구', '흥덕구', '청원구'], 
    '천안': ['동남구', '서북구'], 
    '전주': ['완산구', '덕진구'], 
    '포항': ['남구', '북구'], 
    '창원': ['의창구', '성산구', '진해구', '마산합포구', '마산회원구']
}

In [25]:
starbucks.head()

           상호명        지점명  시도명 시군구명                   도로명주소
0   스타벅스강릉안목항점     강릉안목항점  강원도  강릉시      강원도 강릉시 창해로14번길 40
1         스타벅스  대명델피노리조트점  강원도  고성군  강원도 고성군 토성면 미시령옛길 1153
2  스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시         강원도 춘천시 후석로 318
3         스타벅스      춘천명동점  강원도  춘천시          강원도 춘천시 중앙로 55
4  스타벅스설악워터피아점    설악워터피아점  강원도  속초시   강원도 속초시 미시령로2983번길 88

In [44]:
starbucks.index

RangeIndex(start=0, stop=1547, step=1)

In [60]:
metro_list = ['서울특별시','부산광역시','대구광역시','인천광역시','대전광역시','광주광역시','울산광역시']
sample_list = [starbucks, ediya, coffeebean, paik]
for sample in sample_list:
    si_name = [None] * len(sample)
    for i in sample.index:
        if sample.시도명[i] in metro_list:
            if len(sample.시군구명[i]) == 2:
                si_name[i] = sample.시도명[i][:2] + ' ' + sample.시군구명[i]
            else:
                si_name[i] = sample.시도명[i][:2] + ' ' + sample.시군구명[i][:-1]     # 긴 구 이름에서 '구' 제외
        else:
            if sample.시군구명[i][:-1] == '고성':
                if sample.시도명[i] == '강원도':
                    si_name[i] = '고성(강원)'
                else:
                    si_name[i] = '고성(경남)'
            else:
                si_name[i] = sample.시군구명[i][:-1]

            for key, values in tmp_gu_dict.items():
                if sample.시군구명[i] in values:
                    if len(sample.시군구명[i]) == 2:
                        si_name[i] = key + ' ' + sample.시군구명[i]
                    elif sample.시군구[i] in ['마산합포구', '마산회원구']:
                        si_name[i] = key + ' ' + sample.시군구명[i][2:-1]
                    else:
                        si_name[i] = key + ' ' + sample.시군구명[i][:-1]
    sample['ID'] = si_name
    print(len(si_name))

1547
2120
293
609

In [61]:
starbucks.head()

           상호명        지점명  시도명 시군구명                   도로명주소      ID
0   스타벅스강릉안목항점     강릉안목항점  강원도  강릉시      강원도 강릉시 창해로14번길 40      강릉
1         스타벅스  대명델피노리조트점  강원도  고성군  강원도 고성군 토성면 미시령옛길 1153  고성(강원)
2  스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시         강원도 춘천시 후석로 318      춘천
3         스타벅스      춘천명동점  강원도  춘천시          강원도 춘천시 중앙로 55      춘천
4  스타벅스설악워터피아점    설악워터피아점  강원도  속초시   강원도 속초시 미시령로2983번길 88      속초

In [64]:
ediya.head()

     상호명     지점명  시도명 시군구명                도로명주소  ID
0  이디야커피  원주반곡동점  강원도  원주시    강원도 원주시 오리현길 16-9  원주
1  이디야커피   춘천제일점  강원도  춘천시       강원도 춘천시 춘주로 89  춘천
2  이디야커피     흥업점  강원도  원주시   강원도 원주시 흥업면 남원로 85  원주
3  이디야커피  속초동명항점  강원도  속초시      강원도 속초시 동명항길 49  속초
4  이디야커피   정동진역점  강원도  강릉시  강원도 강릉시 강동면 정동역길 17  강릉

In [65]:
coffeebean.head()

   상호명             지점명  시도명 시군구명                      도로명주소  ID
0  커피빈             NaN  강원도  동해시            강원도 동해시 일출로 107  동해
1  커피빈     코리아원주AK플라자점  강원도  원주시              강원도 원주시 봉화로 1  원주
2  커피빈    현대프리미엄아울렛김포점  경기도  김포시  경기도 김포시 고촌읍 아라육로152번길 100  김포
3  커피빈  중동현대백화점U-PLEX점  경기도  부천시            경기도 부천시 길주로 172  부천
4  커피빈   코리아중동위브더스테이트점  경기도  부천시            경기도 부천시 신흥로 190  부천

In [66]:
paik.head()

        상호명       지점명  시도명 시군구명               도로명주소  ID
0       빽다방  춘천석사CGV점  강원도  춘천시      강원도 춘천시 지석로 85  춘천
1  빽다방동해천곡점     동해천곡점  강원도  동해시   강원도 동해시 한섬로 111-7  동해
2       빽다방   원주중앙1호점  강원도  원주시  강원도 원주시 원일로115번길 6  원주
3       빽다방    삼척대학로점  강원도  삼척시      강원도 삼척시 대학로 23  삼척
4       빽다방       NaN  강원도  원주시  강원도 원주시 무실로12번길 33  원주