In [21]:
import json
with open('C:\\Workspace\\python\\Data_Science\\dataA\\mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)

import pymysql
conn = pymysql.connect(
 host = config['host'],
 user = config['user'],
 password = config['password'],
 database = config['database'],
 port = config['port']
) 
cur = conn.cursor()
sql = "select id, date_format(dt, '%Y-%m-%d %H:%i') AS my_date from date_table;"
cur.execute(sql)
for row in cur.fetchall():
    print(row)
cur.close()
conn.close() # 서버와의 연결을 종료하는 명령어

(1, '2017-08-28 17:22')
(2, '2017-02-15 10:22')
(3, '2017-12-09 22:13')
(4, '2018-07-06 20:15')
(5, '2021-08-24 14:49')
(6, '2017-08-28 17:22')
(7, '2017-02-15 10:22')
(8, '2017-12-09 22:13')
(9, '2018-07-06 20:15')
(10, '2021-08-24 14:50')

In [24]:
# Mysql 접속 및 연결
import json
with open('C:\\Workspace\\python\\Data_Science\\dataA\\mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)

import pymysql
conn = pymysql.connect(
 host = config['host'],
 user = config['user'],
 password = config['password'],
 database = config['database'],
 port = config['port']
) 
# 테이블 생성
cur = conn.cursor()
sql_create_table = '''
    create table if not exists users (
        uid varchar(20) not null primary key,
        pwd char(44) not null,
        uname varchar(20) not null,
        email varchar(40),
        reg_date datetime default current_timestamp,
        is_deleted int default 0
 );
''' 
cur.execute(sql_create_table)

0

In [ ]:
# 데이터 추가
cur = conn.cursor()
sql_insert = "INSERT INTO users(uid, pwd, uname) VALUES('admin', '1234', '관리자');"
cur.execute(sql_insert)

In [31]:
sql_select = 'select * from users;'
cur.execute(sql_select)
row = cur.fetchone()

In [33]:
row

('admin', '1234', '관리자', None, datetime.datetime(2021, 8, 25, 13, 30, 1), 0)

In [35]:
# 데이터를 하드디스크에 쓰게하는 명령
conn.commit()

In [36]:
sql_multi_insert = '''
    INSERT INTO users(uid, pwd, uname) VALUES
        ('eskim', '1234', '김은숙'), ('wjlee', '1234', '이우정');
'''

In [38]:
cur.execute(sql_multi_insert)
conn.commit()

In [40]:
sql_insert_ph = "INSERT INTO users(uid, pwd, uname) VALUES(%s, '1234', %s);"
uid, uname = 'djy', '대조영'
cur.execute(sql_insert_ph, (uid, uname))
conn.commit()

In [ ]:
# 여러건의 데이터를 placeholder를 이용해서 insert
users = (('gdhong', '홍길동'), ('jpark', '박재범'))
cur.executemany(sql_insert_ph, users)

In [ ]:
# 추천하는 방법
users = (('gdhong', '홍길동'), ('jpark', '박재범'))
for user in users:
    cur.execute(sql_insert_ph, user)
conn.commit()

In [44]:
cur.close()
conn.close()